  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bold">Famous Quotes Quiz</h1>
        <p class="lead text-body-secondary">
          Do you think you know all the famous quotes?
          Are you ready to challenge yourself?
        </p>
        <p class="lead text-body-secondary">
          You will have exactly <span class="fw-bold" >5</span> minutes to answer all <span class="fw-bold" >10</span> questions !
          Try to get the highest score !
        </p>
        <p>
          <a  class="btn btn-primary my-2" (click)="onStartQuizClick()">START THE QUIZ</a>
        </p>
      </div>
    </div>
  </section>

<div class="position-absolute bottom-0 w-100">
      <app-footer></app-footer>
</div>
