<div class="card text-center w-50 mx-auto mt-4">
  <div class="card-body">
    <h5 class="card-title">Questions</h5>
    <p class="card-text">Add or edit existing questions for the quizes.</p>
    <a [routerLink]="['../questions']" class="btn btn-primary">Questions</a>
  </div>
</div>
<div class="card text-center w-50 mx-auto mt-4">
  <div class="card-body">
    <h5 class="card-title">History</h5>
    <p class="card-text">View all the attempts to your quiz here.</p>
    <a [routerLink]="['../guests']" class="btn btn-primary">Guest History</a>
  </div>
</div>
